
        <div dir="{{lang.applangdir}}">

            <div class="logo">
                <a href="{{subfolder}}/" target="_parent">{{appName}}</a>
            </div>
            <div class="refreshTree" id="refreshTree">
                <a href="#">
                        <img src="{{icon.Refresh}}" alt="{{lang.strrefresh}}" title="{{lang.strrefresh}}" />
                    </a>
            </div>

            <div id="lazy" class="demo"></div>

        </div>

