<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% set development_assets = true %}
<link rel="stylesheet" href="{{subfolder}}/assets/vendor/jstree/themes/phppgadmin/style.css"/>
<link rel="stylesheet" href="{{ subfolder }}/assets/themes/global.css" type="text/css" id="cssmain"/>
<link rel="stylesheet" href="{{ subfolder }}/assets/themes/{{ theme }}/global.css" type="text/css" id="csstheme"/>
<link rel="stylesheet" href="{{ subfolder }}/assets/vendor/jquery/jquery-ui.min.css" type="text/css"/>
<link rel="shortcut icon" href="{{ Favicon }}" type="image/vnd.microsoft.icon"/>
<link rel="icon" href="{{ Introduction }}" type="image/png"/>

<script src="{{ subfolder }}/assets/vendor/jquery/jquery-3.4.1.min.js"></script>
<script src="{{ subfolder }}/assets/vendor/jquery/jquery-ui.min.js"></script>

<style type="text/css">
	.refreshTree {
		position: absolute;
		right: 0;
		z-index: 1000;
	}
	.splitter {
		background: url("{{subfolder}}/assets/images/vsizegrip.png") center center no-repeat #b0bec5 !important
	}
</style>
{{
  script|raw
}}
<!-- prettier-ignore-start -->

<script>

	globalThis.stateObj = {
{% for key, value in params %}
'{{ key }}' : "{{ value }}",
{% endfor %}
serverSide:!!'{{serverSide}}',
dir: '{{ lang.applangdir }}',
in_test: '{{ in_test }}',
reload: '{{ reload }}',
method: '{{ METHOD }}',
subfolder:'{{ subfolder }}',
path:"{{ path }}",
query_string:"{{ query_string }}",
strconfdropcred:"{{ lang.strconfdropcred }}",
origin: globalThis.location.origin,
url:"{{ url }}",
dttFields: {{dttFields|json_encode|raw}},
href: globalThis.location.href,
guessedSubfolder: ('' + globalThis.location.pathname).replace("/ {{ path }}", ''),
pathname: globalThis.location.pathname
};
</script>
<!-- prettier-ignore-end -->

<title data-headertemplate="{{ headertemplate }}" data-subfolder="{{ subfolder }}">
	{{ appName }}{{ title }}
</title>
