{% if print_bottom_link == true %}
<a data-footertemplate="{{footer_template}}" href="#" class="bottom_link">{{lang.strgotoppage}}</a>
{% endif %}	

<!--</div>
</div>-->
<script>
/* beautify preserve:start */
window.stateObj = {
	{%	for key, value in params %}
	'{{key}}': "{{value}}",
	{% endfor %}
	method: '{{METHOD}}'
};
/* beautify preserve:end */
</script>

<script>
var dir = '{{lang.applangdir}}';
var in_test='{{in_test}}';
var reload='{{reload}}';
if (!window.inPopUp) {



        
    if (reload!=='none') {
        parent.frames && parent.frames.browser && parent.frames.browser.location.replace('{{subfolder}}/src/views/browser');
    } 

    if (reload==='other' && !parent.frames.length && in_test==='0') {
        var destination=location.href.replace('/src/views','');
        console.log('will do location replace',destination); 
        location.replace(destination); 
    }

	$(document).ready(function () {

		// Check if we are inside an iframe, in which case use history API to change top URL
		if (window.parent.frames.length !== 0) {

			/* beautify preserve:start */
			stateObj.realurl= location.href.replace(location.origin, '');
			stateObj.path= '{{path}}'; //path will only be defined inside a route
			stateObj.query_string= '{{query_string}}';

			/* beautify preserve:end */
			stateObj.newurl = '{{subfolder}}'+stateObj.realurl.replace('{{subfolder}}','').replace('src/views/', '').replace('.php', '');
			stateObj.parenturl = window.parent.location.href.replace(window.parent.location.origin, '');

			if (stateObj.method !== 'GET') {

				//console.log('Will not pushState with Method "' + stateObj.method + '"');

			} else if (stateObj.newurl !== stateObj.parenturl) {
				//console.log('will pushState', stateObj);
				window.parent.history.pushState(stateObj, document.title, stateObj.newurl);
			} else {

				/*console.log('no changes in stateObj', {
					newurl: stateObj.newurl,
					parenturl: stateObj.parenturl
				});*/
			}

			if (jQuery.fn) {
				if (jQuery.fn.select2) {
					jQuery('.select2').select2();
				}
				if (jQuery.fn.DataTable) {
					$('.will_be_datatable').DataTable({
						"pageLength": 100
					});
				}
			}
			if(typeof hljs!=='undefined') {
				$('pre code.hljs').each(function(i, block) {
				    hljs.highlightBlock(block);
				});
			}

		} else if (in_test==='0') {
			var redirect_to,
				subject = location.pathname.replace('{{subfolder}}','').replace('/src/views/', '').replace('.php', '');

			if (subject === '/redirect/server') {
				subject = '/servers';
			}
			redirect_to = '{{subfolder}}/' + subject + location.search;
			var redirection_msg = 'location subject ' + subject + ' will redirect_to ' + redirect_to;
			//console.log(redirection_msg);
			location.replace(redirect_to);
		}


	});
}
</script>