<div class="tabs" data-controller="{{controller_name}}">

	{% for tab in tabs %}

		<div class="tab {{tab.active}}">
			<a href="{{tab.tablink}}">
				{% if tab.iconurl %}
					<span class="icon"><img src="{{tab.iconurl}}" alt="{{tab.title}}"/></span>
				{% endif %}
				<span class="label">{{tab.title}}</span>
			</a>
			{% if tab.helpurl %}
				<a class="help" href="{{tab.helpurl}}" title="{{lang.strhelp}}" target="phppgadminhelp">{{lang.strhelpicon}}</a>
			{% endif %}
		</div>

	{% endfor %}


</div>
<div class="clearfix">&nbsp;</div>
