 <link rel="stylesheet" href="{{subfolder}}/assets/js/jstree/themes/phppgadmin/style.css" /> {% include 'components/common_head.twig' %}

 <script src="{{subfolder}}/assets/js/jstree/jstree.min.js"></script>
 <div id="browser_container">    
    <div class="browser">

        <div dir="{{lang.applangdir}}">

            <div class="logo">
                <a href="{{subfolder}}/" target="_parent">{{appName}}</a>
            </div>
            <div class="refreshTree">
                <img src="{{icon.Refresh}}" alt="{{lang.strrefresh}}" title="{{lang.strrefresh}}" />
                
            </div>

            <div id="lazy" class="demo"></div>

        </div>

   
    </div>
</div>