<!DOCTYPE html>
<html xml:lang="{{lang.applocale}}" lang="{{lang.applocale}}"  dir="{{lang.applangdir}}">

    <head data-headertemplate="{{headertemplate}}">
<link rel="shortcut icon" href="{{Favicon}}" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="{{Introduction}}" type="image/png" />

{% set template = 'main' %}
  {% include 'components/common_head.twig' %}
</head>
<body class="flexbox_body {{lang.applangdir}}">
    <div class="flexbox_wrapper">
        <div id="masking_overlay"></div>
        
        {% include 'main_sections/browser.twig' %}
        
<div id="detail_container">
    <div id="tabs">
  <ul>
    <li><a href="#fragment-1"><span>One</span></a></li>
    <li><a href="#fragment-2"><span>Two</span></a></li>
    <li><a href="#fragment-3"><span>Three</span></a></li>
  </ul>
  <div id="fragment-1">
    <p>First tab is active by default:</p>
    <pre><code>$( "#tabs" ).tabs(); </code></pre>
  </div>
  <div id="fragment-2">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
  <div id="fragment-3">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
</div>
        <iframe src="{{subfolder}}{{url}}" name="detail" id="detail" class="detail_content" frameborder="0" />
        <p>Your browser does not support iframes.</p>
        </iframe>
</div>
    </div>
    {% include 'main_sections/main_footer.twig' %}