 {% include 'header_browser.twig' %}


<body class="browser">

    <div dir="{{lang.applangdir}}">

        <div class="logo">
            <a href="{{subfolder}}/" target="_parent">{{appName}}</a>
        </div>
        <div class="refreshTree">
            <a href="{{subfolder}}/src/views/browser" target="browser">
                    <img src="{{icon.Refresh}}" alt="{{lang.strrefresh}}" title="{{lang.strrefresh}}" />
                </a>
        </div>

    </div>

    <script>
   
    // Set default target frame:
    //WebFXTreeAbstractNode.prototype.target = '_parent';
    WebFXTreeAbstractNode.prototype.target = 'detail';
    // Disable double click:
    WebFXTreeAbstractNode.prototype._ondblclick = function () {}
    // Show tree XML on double click - for debugging purposes only
    /*
    // UNCOMMENT THIS FOR DEBUGGING (SHOWS THE SOURCE XML)
    WebFXTreeAbstractNode.prototype._ondblclick = function(e){
        var el = e.target || e.srcElement;

        if (this.src != null)
            window.open(this.src, this.target || "_self");
        return false;
    };
    */
    var tree = new WebFXLoadTree("{{lang.strservers}}", "{{subfolder}}/src/views/servers?action=tree", "servers");
    tree.write();
    tree.setExpanded(true);
    </script>

</body>

</html>