{% include 'header.twig' %}
</head>

<body class="flexbox_body">
    <div class="flexbox_wrapper">
        <div id="browser_container">
            <iframe src="{{subfolder}}/src/views/browser.php" name="browser" id="browser" class="browser_container" frameborder="0" />
            <p>Your browser does not support iframes.</p>
            </iframe>
        </div>

        <iframe src="{{subfolder}}{{url}}" name="detail" id="detail" class="detail_container" frameborder="0" />
        <p>Your browser does not support iframes.</p>
        </iframe>

        <script type="text/javascript">
        /* beautify preserve:start */
        /*if(window.parent.frames.length!==0) {
            console.log('should load '+"{{subfolder}}{{url}}");
        }*/
        /* beautify preserve:end */
        jQuery('#browser_container').resizable({
            handles: "e"
        });
        window.onpopstate = function (event) {
            console.log('onpopstate', {
                state: event.state
            });
            if (event.state && event.state.realurl) {
                var ifr = document.getElementById('detail')
                ifr.contentWindow.location.replace(event.state.realurl);
            }
        };
        </script>

    </div>
</body>

</html>