<!DOCTYPE html>
<html xml:lang="{{applocale}}" lang="{{applocale}}" isolang="{{isolang}}" {{dir}}>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/src/themes/{{theme}}/global.css" type="text/css" id="csstheme" />
        <link rel="stylesheet" href="/js/select2/css/select2.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css" type="text/css" />
        <link rel="shortcut icon" href="/images/themes/{{theme}}/Favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" type="image/png" href="/images/themes/{{theme}}/Introduction.png" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/js/select2/js/select2.full.min.js"></script>
        <script src="/js/select2/js/i18n/{{isolang}}.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        <title data-headertemplate="{{headertemplate}}">{{appName}}</title>

        <script type="text/javascript">
        $(document).ready(function() {
            if (window.parent.frames.length > 1) {
                $('#csstheme', window.parent.frames[0].document).attr('href', '/src/themes/{{theme}}/global.css');
            }
        });
        </script>
